<!doctype html>
<html ng-app="yearSummaryApp">
    <head>
        <meta charset="utf-8">
        <title>Pagepro Year Summary</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
        <script type="text/javascript" src="app/angular.audio.js"></script>

        <script type="text/javascript" src="app/app.js"></script>
        <link rel="stylesheet" type="text/css" href="assets/styles.css">
        <link rel="icon" href="assets/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://use.typekit.net/c/48acb8/1w;proxima-nova,1,gbj:W:n3,gbl:W:n4,gbq:W:n6,gbs:W:n7/l?3bb2a6e53c9684ffdc9a98f5195b2a62c756e429684504831895d9736c7e37e5d197bddfef8c1f202e4dfc21a9554af004be238d45ccca64647092807d324db1f13f5b65d013fd8c7d313deea1eb00edeb680de05ed06bc158c833b06b73badda0b9613158a2ee82f68468114cd7abf6e40b074bb6a00592fc598c6aee7cfe190ed7be1fd59b9aac6ca2d85099ec691a9486e2d40fbe5fa0817de9882ce4c2bdabef9914f7d0dcfad319c36cefe743817e1f63b0ec3ea8d8bf5a3e9bd4717bb3cc8e5f75a3895743c9dd971a6e368f653688149aff8cf9cebb1d1a702740d8a7ec7e50746c1c5a0c16" media="all">
    </head>
    <body id="page" ng-controller="AnimationCtrl">

        <div ng-show="loadingInProgress" class="images-loader--bg"></div>
        <div ng-show="loadingInProgress" class="images-loader--bar">
            <div class="progressbar">
                <div class="bar" style="width: calc({{imagesLoaded/68 * 100 | number:0}}% - 4px)"></div>
            </div>
            <div class="audio-loader" ng-if="audioLoadingInProgress && imagesLoaded === framesCount">Audio is still loading...</div>
        </div>
        <div class="fork-button" ng-hide="loadingInProgress">
            <a class="github-button" href="https://github.com/Pagepro/year-summary-2015/fork" data-icon="octicon-repo-forked" data-style="mega" aria-label="Fork Pagepro/year-summary-2015 on GitHub">Fork</a>
        </div>
        <div class="before-frame" ng-show="sound.paused && !firstPlay && !loadingInProgress">
            <a ng-click="play()" class="play">Turn on speakers and click!</a>
        </div>
        <div class="show-frame" ng-class="{'invisible': sound.paused && !firstPlay}">
            <div ng-show="!sound.paused && sound.currentTime < 4 && !firstPlay" class="anim-fade-in anim-mid"><img src="assets/pagepro_logo_white.svg" alt="Pagepro"></div>
            <div ng-show="!sound.paused && sound.currentTime > 4 && sound.currentTime < 10.7 && !firstPlay" class="anim-fade-in anim-slow">
                Thanks for year 2015!
                <br>
                Let's experience it once again...
            </div>
            <div ng-class="{'invisible': sound.currentTime < 10.7}" class="invisible">
                <div id="gif-holder" class="move" ng-click="toggleMusic()">
                    <svg
                       ng-show="sound.paused"
                       class="pauseIcon"
                       xmlns:dc="http://purl.org/dc/elements/1.1/"
                       xmlns:cc="http://creativecommons.org/ns#"
                       xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                       xmlns:svg="http://www.w3.org/2000/svg"
                       xmlns="http://www.w3.org/2000/svg"
                       id="pause-icon"
                       version="1.1"
                       height="150"
                       width="150"
                       viewBox="0 0 1200 1200">
                      <path
                         id="path15778"
                         d="M 600,0 C 268.62914,0 0,268.62914 0,600 c 0,331.37086 268.62914,600 600,600 331.37086,0 600,-268.62914 600,-600 C 1200,268.62914 931.37086,0 600,0 z m -269.16515,289.38 181.71397,0 0,621.24 -181.71397,0 0,-621.24 z m 356.61633,0 181.71399,0 0,621.24 -181.71399,0 0,-621.24 z" />
                    </svg>
                    <div class="gif-holder__slider" data-frame="{{switcherCouner}}" ng-class="{'stopped': sound.paused, 'switcher': switcher}">
                        <img src="assets/frames/2015-02-17_1424200664.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-02-17_1424200754.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-02-17_1424200955.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-02-17_1424201040.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-02-17_1424201121.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-02-17_1424201287.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-02-19_1424345339.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-02-21_1424523172.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-02-27_1425041443.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-02-27_1425066659.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-02-28_1425113738.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-03-01_1425210464.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-03-01_1425210682.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-03-02_1425303388.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-03-04_1425505593.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-03-04_1425505631.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-03-04_1425505653.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-03-04_1425505704.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-03-13_1426258097.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-03-21_1426967832.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-03-21_1426968073.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-03-31_1427834290.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-03-31_1427834387.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-03-31_1427834444.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-04-03_1428063391.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-04-03_1428064343.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-04-25_1429987865.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-04-25_1429987912.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-04-25_1429987938.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-04-25_1429988119.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-04-25_1429988143.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-04-25_1429988253.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-05-06_1430939454.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-05-14_1431600004.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-06-03_1433354781.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-06-04_1433429819.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-06-10_1433962335.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-06-19_1434740006.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-06-26_1435320390.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-06-26_1435320432.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-06-26_1435320460.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-07-09_1436445266.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-07-19_1437301595.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-07-19_1437301631.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-07-19_1437301710.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-07-19_1437301736.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-08-01_1438448845.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-08-16_1439728965.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-08-16_1439728992.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-09-13_1442150560.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-09-13_1442150605.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-09-13_1442150669.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-09-23_1442992579.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-10-08_1444331849.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-10-08_1444332152.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-10-16_1444998399.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-10-21_1445414167.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-10-21_1445414381.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-10-21_1445414389.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-10-21_1445414394.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-10-21_1445414484.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-11-19_1447928946.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-11-23_1448291694.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-11-23_1448291773.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-12-04_1449232593.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-12-04_1449232640.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-12-04_1449232663.jpg" imageonload="imageLoaded()" class="frame">
                        <img src="assets/frames/2015-12-04_1449232717.jpg" imageonload="imageLoaded()" class="frame">
                    </div>
                </div>
                <div class="logos">
                    <a href="http://www.pagepro.pl/" target="_blank"><img src="assets/pagepro_logo_white.svg" alt="Pagepro" class="logo--pagepro"></a>
                    <a href="https://angularjs.org/" target="_blank"><img src="assets/AngularJS_logo.svg" alt="Angular JS" class="logo--angular"></a>
                </div>
            </div>
        </div>
        <!-- Place this tag right after the last button or just before your close body tag. -->
        <!-- <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script> -->
    </body>
</html>
